
/* Helvetica Regular */
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica-webfont.eot');
    src: url('/fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helvetica-webfont.woff2') format('woff2'),
         url('/fonts/helvetica-webfont.woff') format('woff'),
         url('/fonts/helvetica-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Helvetica Bold */
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica-bold-webfont.eot');
    src: url('/fonts/helvetica-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helvetica-bold-webfont.woff2') format('woff2'),
         url('/fonts/helvetica-bold-webfont.woff') format('woff'),
         url('/fonts/helvetica-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Helvetica Oblique (Italic) */
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica-oblique-webfont.eot');
    src: url('/fonts/helvetica-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helvetica-oblique-webfont.woff2') format('woff2'),
         url('/fonts/helvetica-oblique-webfont.woff') format('woff'),
         url('/fonts/helvetica-oblique-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Helvetica Bold Oblique (Bold Italic) */
@font-face {
    font-family: 'Helvetica';
    src: url('/fonts/helvetica-boldoblique-webfont.eot');
    src: url('/fonts/helvetica-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/helvetica-boldoblique-webfont.woff2') format('woff2'),
         url('/fonts/helvetica-boldoblique-webfont.woff') format('woff'),
         url('/fonts/helvetica-boldoblique-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

/* @font-face {
  font-family: 'Helvetica';
  src: url('fonts/helvetica-webfont.woff2') format('woff2'),
       url('fonts/helvetica-webfont.woff') format('woff'),
       url('fonts/helvetica-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */



body {
      font-family: 'helvetica';
      padding: 20px;
      background : white;
    }
.input-wrapper {
    margin-bottom: 10px;
}
.btn {
      padding: 10px 20px;
      background-color: #38a169;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
.file-info {
    color: green;
}
 .file-input {
      display: block;
      width: 100%;
      font-size: 0.875rem;
      color: white; /* text-gray-500 */
      /* cursor: pointer; */
    }
    .file-input::-webkit-file-upload-button {
      margin-right: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 0.875rem;
      font-weight: 600;
      background-color: #2E742B; /* bg-blue-50 */
      color: white; /* text-blue-700 */
      
     
    }
    .file-input:hover::-webkit-file-upload-button {
      background-color: #dbfee5;
      color: #2E742B; /* hover:file:bg-blue-100 */
    }
    .button {
      margin-top: 1rem;
      padding: 0.5rem 1rem;
      background-color: #2E742B; /* bg-green-500 */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.875rem;
      font-weight: 600;
  
    }
    .selected-file {
      margin-top: 0.5rem;
      font-size: 1rem;
      color: #2E742B; /* text-green-600 */
      
    }

.green-button {
  background-color: #2E742B;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
.green-button:hover {
  background-color: #218838;
}

.head-info{
  color: #2E742B;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: 600;
}

.upload_dropZone {
  color: #0f3c4b;
  /* background-color: var(--colorPrimaryPale, #c8dadf); */
  outline: 2px dashed var(--colorPrimaryHalf, #2E742B);
  outline-offset: -12px;
  transition:
    outline-offset 0.2s ease-out,
    outline-color 0.3s ease-in-out,
    background-color 0.2s ease-out;
  height: 400px;
  border-radius: 15px;
  margin: 15px;
  padding: 80px 100px; /* ปรับได้ตามต้องการ */
  box-sizing: border-box;
}
.hidden-input {
  display: none;
}
.upload_dropZone.highlight {
  outline-offset: -4px;
  outline-color: var(--colorPrimaryNormal, #0576bd);
  background-color: var(--colorPrimaryEighth, #c8dadf);
}
.upload_svg {
  fill: var(--colorPrimaryNormal, #0576bd);
}
.btn-upload {
  /* color: #fff; */
  border-color: #2E742B;
  /* background-color: var(--colorPrimaryNormal); */
}
.btn-upload:hover,
.btn-upload:focus {
  color: #fff;
  background-color: var(--colorPrimaryGlare);
}
.upload_img {
  width: calc(33.333% - (2rem / 3));
  object-fit: contain;
}
.BoxShow{
  border: #2E742B;
  border-radius: 15px;
  height: 150px;
  width: auto;
 
}

